
<h2>Welcome <%= firstName %></h2>
<% if (accountType === 'Admin' || accountType === 'Employee') { %>
  <h3>Inventory Management</h3>
  <p><a href="/inv/management">Manage Inventory</a></p>
<% } %>
<p><a href="/account/update/<%= accountId %>">Update Account Information</a></p>
<%- include('../partials/footer') %>
