<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> <!-- Include the head partial here -->
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %> <!-- Including the header partial -->
    </header>
    <nav>
        <%- include('partials/navigation.ejs') %> <!-- Including the navigation partial -->
    </nav>
    <main>
   
    </main>
    <footer>
        <%- include('partials/footer.ejs') %> <!-- Including the footer partial -->
    </footer>
</body>
</html>
