
<h1>Add Classification</h1>
<form action="/inv/add-classification" method="post" id="classificationForm">
  <label for="classification_name">Classification Name:</label>
  <input 
    type="text" 
    id="classification_name" 
    name="classification_name" 
    required 
    minlength="3" 
    pattern="[A-Za-z0-9]+" 
    title="Classification name should only contain letters and numbers and be at least 3 characters long."
    value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>">
  <button type="submit">Add Classification</button>
</form>

<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>

<%- include('../partials/footer') %>
