<%- include('../partials/header') %>
<h1>Vehicle Management</h1>
<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>
<%- include('../partials/footer') %>

